.popup__submit-btn {
  display: flex;
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  padding: 14px 0 18px;
  border-radius: 2px;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}

.popup__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
